@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: black;
  display: flex;
  flex-direction: column;
}

.app {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
  max-width: 1000px;
  max-height: 550px;
}

.table {
  width: 100%;
  height: 100%;
  min-height: 400px;
  min-width: 800px;
  /* background-image: url(/assets/table.png); */
  background-image: url(/poker-auto-notes/assets/table.png);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  position: relative;
  background-color: black;
}

.top-bar-container {
  margin: 8px;
  display: flex;
  align-items: center;
  padding-left: 5px;
  display: flex;
}

.notes-container {
  max-width: 50px;
  max-height: 30px;
}

.add-notes {
  visibility: hidden;
}

label.notes {
  display: inline-block;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
}

svg {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.scroll {
  color: rgb(65, 65, 65);
  position: relative;
  background-image: url(/poker-auto-notes/assets/scroll.png);
  /* background-image: url(/assets/scroll.png); */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  max-width: 600px;
  max-height: 300px;
  top: 20%;
  left: 20%;
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 6%;
  padding-bottom: 5%;
  transition: opacity 0.5s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  overflow: auto;
}

.status {
  position: absolute;
  color: white;
  left: 5px;
  padding-left: 5px;
}

.x {
  cursor: pointer;
  position: absolute;
  top: 40px;
  right: 70px;
  font-size: 1.3rem;
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

.x:hover {
  transform: rotate(180deg);
}

.scroll::-webkit-scrollbar {
  width: 12px;
}

.scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(135, 255, 255, 0.3);
  border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(58, 225, 255, 0.5);
}